{{!-- Doctor's View of Patient Profile --}}
<div class="body">

    <h2>Patient: {{patient_name}}</h2>
    <h3>Patient Updates</h3>
    {{!-- {{#each prescription}} --}}
    <div class="row">
        {{prescription.drug_name}}
        <div class="col-md-8">
            <p>journal entries go here</p>
            {{!-- journal entries go here --}}
            {{#each journal}}
                {{#unless response}}
                <p>Date: {{journal.date}}</p>
                <p>Entry: {{journal.entry}}</p>
                <form class="responseForm">
                    <p>How would you like to respond?</p>
                    <input type="radio" name="{{journal.id}}" value="true">
                        <label> Everything is fine</label><br> 
                    <input type="radio" name="{{journal.id}}" value="false"> 
                        <label> Please make an appointment</label>
                </form>
                {{/unless}}
            {{/each}}
        </div>
        <div class="col-md-4">
            <p>Charts go here</p>
            {{!-- ^testing columns --}}
            {{chart}}
        </div>
    </div>
    {{!-- {{/each}} --}}
{{!-- EACH COMMENTED OUT TO TEST COLUMNS --}}

</div>