{{!-- Doctor's View of Patient Profile --}}
<div class="body">

    <h2>Patient: {{patient_name}}</h2>
    <h3>Patient Updates</h3>
    {{!-- {{#each prescription}} --}}
    <div class="row">
        {{prescription.drug}}
        <div class="col-md-8">
            {{!-- <p>journal entries go here</p> --}}
            {{!-- journal entries go here --}}
            {{#each journal}}
                {{#unless response}}
                <p>Date: {{journal.date}}</p>
                <p>Entry: {{journal.entry}}</p>
                <form class="responseForm">
                    <p>How would you like to respond?</p>
                    <input type="radio" name="journal" value="true">
                        <label> Everything is fine</label><br> 
                    <input type="radio" name="journal" value="false"> 
                        <label> Please make an appointment</label><br>
                    <button type="submit" class="btn btn-secondary" id="response" value="{{journal.id}}" data-doctorID="{{doctor_id}}" data-patientID="{{patient_id}}"></button>
                </form>
                {{/unless}}
            {{/each}}
        </div>
</div>
<script type="text/javascript" src="../public/js/doctorResponse.js"></script>